@import "bootstrap/scss/bootstrap";

.field_with_errors {
    input {
        @extend .is-invalid;
    }
    +.form-check-label {
        color: $danger;
    }
}

.flash {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    z-index: 2000;
    .alert {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .alert-dismissible .btn-close {
        padding-top: 4px;
    }
}
